@import "./settings/Settings";
@import "./components/Components";

// UTILS

.h1 {
  font-size: 2rem;
}

a {
  color: $text-white;
}

a.h1 {
  display: flex;
  align-items: center;
  background-image: none;
  transition: 0.3s;

  &:hover {
    color: $pink-1 !important;
    background-image: linear-gradient(90deg, #EC008C 0%, #FC6767 100%);
    transition: 0.3s;
  }
}

a.top-players-username {
  color: white !important;
  background-image: none;
}

.white {
  color: $text-white !important
}

.d-flex {
  display: flex;
}

.ml-1 {
  margin-left: 1rem;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.feedbacks-card-section > li {
  list-style: none;
}

ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
    margin: 0 0.5rem;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      text-decoration: none;
      a {
        color: $gray-500 !important;
        background: none !important;
      }
    }
    a {
      background: none !important;
    }
    &.active {
      a {
        cursor: default;
        color: $pink-2 !important;
        font-weight: 900 !important;
        background: none !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-flex {
    display: flex;
  }
}


@media screen and (min-width: 1200px) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-flex {
    display: flex;
  }
}
