button {
    position: relative;
    height: 56px !important;
    border: 0px !important;

    background: linear-gradient(162.34deg, #161A42 22.61%, #0B0D21 118.29%) !important;
    border-radius: 16px !important;
    
    span.p-button-label {
        color: $text-white !important;
    }

    .p-button-text {
        background: transparent !important;
    }
}