.p-card {
  background-color: $blue;
  border-radius: 15px;
  border: 3px solid $blue-dark;
  color: $text-white;
  input {
    width: 100%;
    color: $text-white !important;
    margin-bottom: 1rem;
    margin-top: 5px;
  }
  .p-selectbutton {
    div {
      border: 3px solid $blue-dark;
      border-radius: 15px;
      background-color: $blue-dark;
      &.p-button:not(.p-disabled):not(.p-highlight):hover {
        border: 3px solid $cyan-1;
        background-color: $cyan-1;
        color: $text;
      }
      &.p-highlight {
        border: 3px solid $pink-2;
        background-color: $pink-2;
        color: $text;
        &:hover {
          border: 3px solid $pink-1;
          background-color: $pink-1;
          color: $text;
        }
      }
    }
  }
}
